* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.moedas {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}

.teste {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    animation: moedas 20s infinite linear;
}

.paridade {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paridade-img {
    display: flex;
    align-items: center;
}

.text-paridade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paridade-img img {
    width: 40px;
}

.paridade-img-eur {
    width: 50px;
    height: 45px;
}

.paridade span, p {
    color: #FFFFFF;
}

@keyframes moedas {
    to {
        left: -750px;
    }

    from {
        left: 100%;
    }
}

.atualizar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.button-atualizar, .button-limpar {
    border-radius: 5px;
    background: #772FD3;
    border: none;
    color: #ffffff;
    width: 100px;
    height: 35px;
    font-weight: 700;
    cursor: pointer;
}

.button-atualizar:hover {
    opacity: 0.8;
}

.button-atualizar:active {
    opacity: 0.6;
}

.box-valor {
    width: 100%;
    margin-bottom: 25px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.base, .secundaria {
    width: 100%;
    /* border: 1px solid #772FD3;
    border-radius: 20px;
    padding: 30px; */
}

.secundaria select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#slider {
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
    max-width: 100%;
    margin-right: 50px;
}

#slider img.selected {
    opacity: 1;
}

main {
    width: 70%;
    background: #e6e6e6;
    border-radius: 20px;
    margin: 100px auto 40px auto;
    padding: 44px 24px 23px;
    z-index: 99;
    position: absolute;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #BBBBBB;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    color: #555555;
    font-size: 16px;
}

.arrow {
    display: flex;
    flex-direction: row;
}

.arrow-img {
    margin: 100px 0;
    rotate: 270deg;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.img-moeda-base, .img-moeda-secundaria {

}

.text-moeda-base, .text-moeda-secundaria {
    color: #777777;
    font-size: 14px;
}

.valor-moeda-base, .valor-moeda-secundaria {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}