* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-valor {
    width: 100%;
    margin-bottom: 25px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.base, .secundaria {
    width: 100%;
    /* border: 1px solid #772FD3;
    border-radius: 20px;
    padding: 30px; */
}

.secundaria select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#slider {
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
    max-width: 100%;
    margin-right: 50px;
}

#slider img.selected {
    opacity: 1;
}

main {
    width: 70%;
    background: #e6e6e6;
    border-radius: 20px;
    margin: 0 auto 40px auto;
    padding: 44px 24px 23px;
    z-index: 99;
    position: absolute;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #BBBBBB;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    color: #555555;
    font-size: 16px;
}

button {
    border-radius: 5px;
    background: #772FD3;
    width: 100%;
    border: none;
    color: #ffffff;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

/* section {
    
} */

.arrow {
    display: flex;
    flex-direction: row;
}

.arrow-img {
    margin: 100px 0;
    rotate: 270deg;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.text-moeda-base, .text-moeda-secundaria {
    color: #777777;
    font-size: 14px;
}

.valor-moeda-base, .valor-moeda-secundaria {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}